table{
text-align:center;
}
#update{ font: italic bold red ;}
.smaller { height: 80px; 
width: 120px;}
::placeholder{
width:25px;
 height:25px;}
 input {width:50px;
 height:25px;}
 .rotation {
 transform : rotate(135deg);}
 
