table{
text-align:center;
border:solid black;
 border-collapse: collapse;
}
td { border:solid;}
.smaller { height: 80px; 
width: 120px;}
::placeholder{
width:25px;
 height:25px;}
 input {width:50px;
 height:25px;}
 
